:root {
  --letra-color: #4e3150;
  --secondary-color: #b6dec1;
  --accent-color: #ffe6db;
  --background-color: #fbf6b5;
  --background-section: #ddcbc3;
  --letratitulo: "Great Vibes", cursive;
  --letraSubtitulo: "Montserrat", sans-serif;
}
.sonido {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.boton-sonido {
  background-color: rgba(245, 247, 189, 0.7);
  color: var(--letra-color);
  border: 1px solid var(--background-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-sonido:hover {
  background-color: var(--background-color);
  color: white;
  border-color: #c8c9b5;
}
