:root {
  --letra-color: #4e3150;
  --secondary-color: #b6dec1;
  --accent-color: #ffe6db;
  --background-color: #fffcd4;
  --background-section: #fae5dbb7;
  --letratitulo: "Great Vibes", cursive;
  --letraSubtitulo: "Montserrat", sans-serif;
}

.timeline-section {
  background-color: var(--background-colors);
  padding: 40px 20px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.timeline-section h2 {
  color: var(--letra-color);
  font-family: var(--letratitulo);
  font-size: 2.8rem;
  margin-bottom: 30px;
  text-align: center;
}

.timeline-list {
  font-family: var(--letraSubtitulo);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-arrow {
  font-size: 1.5rem;
  color: var(--letra-color);
  margin: 5px 0;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.timeline-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.timeline-time {
  font-weight: bold;
  color: var(--letra-color);
  font-size: 1rem;
}

.timeline-icon {
  font-size: 1.2rem;
  color: var(--letra-color);
}

.timeline-text {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  color: var(--letra-color);
  font-size: 1rem;
}

/* Responsivo */

@media (max-width: 768px) {
  .timeline-section {
    font-size: 2rem;
  }
  .timeline-item {
    flex-direction: row;
  }

  .timeline-line {
    width: 20px;
  }

  .timeline-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-item {
    flex-direction: column;
    align-items: center;
  }

  .timeline-time {
    font-size: 0.9rem;
  }

  .timeline-text {
    font-size: 0.95rem;
  }
}
